input{
    border-width:1px;
    border-style: solid;
    border-color: rgb(148, 145, 145);
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 100px;
}

.email
{
    display: block;
    width: 226px;
}

button{
    background-color: rgb(96, 146, 253);
    width:245px ;
    height: 35px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    border: none;
}